# Common
node_modules
dist
.nuxt
coverage

# Examples

## cofeescript
examples/coffeescript/pages/index.vue
examples/pug-stylus-coffee/
# Packages

# vue-app
packages/vue-app/template
!packages/vue-app/template/store.js
