# Dependencies
node_modules
examples/**/*/yarn.lock
jspm_packages
package-lock.json

# Logs
*.log
npm-debug.log*

# Other
.nuxt
.cache

# Dist folder
dist

# Dist example generation
examples/**/dist

# Coverage support
coverage
*.lcov
.nyc_output
.vscode

# Intellij idea
*.iml
.idea

# OSX
*.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk