name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:
    paths:
      - "docs/**"
      - ".github/workflows/docs.yml"
  push:
    branches:
      - "renovate/**"

permissions:
  contents: read

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: lts/*
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build (stub)
        run: pnpm dev:prepare

      - name: Lint (docs)
        run: pnpm lint:docs:fix

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
