name: autofix.ci  # needed to securely identify the workflow

on:
  pull_request:
    paths-ignore:
      - "docs/**"

permissions:
  contents: read

jobs:
  code:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - run: corepack enable
      - uses: actions/setup-node@bea5baf987ba7aa777a8a0b4ace377a21c45c381 # v3.8.0
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Dedupe dependencies
        if: ${{ contains(github.head_ref, 'renovate') }}
        run: pnpm dedupe

      - name: Build (stub)
        run: pnpm build:stub

      - name: Lint (code)
        run: pnpm lint:fix

      - name: Test (unit)
        run: pnpm test:unit -u

      - name: Run build
        run: pnpm build

      - name: Update bundle size
        run: pnpm vitest run bundle -u

      - uses: autofix-ci/action@8caa572fd27b0019a65e4c695447089c8d3138b9
