name: autofix.ci  # needed to securely identify the workflow

on:
  pull_request:
    paths-ignore:
      - "docs/**"

permissions:
  contents: read

jobs:
  code:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - run: corepack enable
      - uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Dedupe dependencies
        if: ${{ contains(github.head_ref, 'renovate') }}
        run: pnpm dedupe

      - name: Build (stub)
        run: pnpm build:stub

      - name: Lint (code)
        run: pnpm lint:fix

      - name: Test (unit)
        run: pnpm test:unit -u

      - name: Run build
        run: pnpm build

      - name: Update bundle size
        run: pnpm vitest run bundle -u

      - uses: autofix-ci/action@8caa572fd27b0019a65e4c695447089c8d3138b9
