name: autofix.ci # needed to securely identify the workflow

on:
  pull_request:
    paths-ignore:
      - "docs/**"

permissions:
  contents: read

jobs:
  code:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: lts/*
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Check engine ranges, peer dependency ranges and installed versions
        run: pnpm installed-check --no-include-workspace-root --ignore-dev --workspace-ignore='test/**,playground' --fix

      - name: Build (stub)
        run: pnpm dev:prepare

      - name: Test (nuxt runtime)
        run: pnpm test:runtime -u

      - name: Test (unit)
        run: pnpm test:unit -u

      - name: Lint (code)
        run: pnpm lint:fix

      - name: Run build
        run: pnpm build

      - name: Assert bundle size (renovate)
        if: ${{ contains(github.head_ref, 'renovate') }}
        run: pnpm vitest run bundle

      - name: Update bundle size (renovate)
        if: failure()
        run: |
          pnpm vitest run bundle -u
          pnpm dedupe

      - name: Update bundle size
        if: ${{ !contains(github.head_ref, 'renovate') }}
        run: pnpm vitest run bundle -u

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
