name: 'Dependency review'

on:
  merge_group:
  push:
    branches:
      - main
      - 3.x
  pull_request:

permissions:
  contents: read

jobs:
  dependency-review:
    uses: nuxt/.github/.github/workflows/dependency-review.yml@main
    with:
      fail-on-provenance-change: true
