name: docs

on:
  pull_request:
    paths:
      - "docs/**"
      - "*.md"
    branches:
      - main
      - 3.x

# Remove default permissions of GITHUB_TOKEN for security
# https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
permissions: {}

jobs:
  link-checker:
    runs-on: ubuntu-latest
    steps:
      # Cache lychee results (e.g. to avoid hitting rate limits)
      - name: Restore lychee cache
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-

      # check links with Lychee
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Lychee link checker
        uses: lycheeverse/lychee-action@01a5c94d8e012550040658854b90a7a7301e75ca # for v1.8.0
        with:
          # arguments with file types to check
          args: >-
            '-c=lychee.toml'
            './docs/**/*.md'
            './docs/**/*.html'
            './packages/*/src/**/*.ts'
            './packages/*/src/**/*.js'
            './packages/*/src/**/*.md'
          # fail the action on broken links
          fail: true
        env:
          # to be used in case rate limits are surpassed
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
