name: docs

on:
  push:
    paths:
      - "docs/**"
    branches:
      - main
      - 3.x

# Remove default permissions of GITHUB_TOKEN for security
# https://docs.github.com/en/actions/tutorials/authenticate-with-github_token
permissions: {}

jobs:
  deploy-docs:
    runs-on: ubuntu-slim

    steps:
      - if: ${{ github.repository_owner == 'nuxt' && github.event_name == 'push' }}
        run: curl "${{ secrets.DOCS_WEBHOOK }}"
