name: docs

on:
  merge_group:
  # autofix workflow will be triggered instead for PRs
  push:
    branches:
      - main
      - 3.x
      - "!v[0-9]*"
    paths:
      - "docs/**"
      - ".github/workflows/docs.yml"
      - "*.md"

# Remove default permissions of GITHUB_TOKEN for security
# https://docs.github.com/en/actions/tutorials/authenticate-with-github_token
permissions: {}

jobs:
  lint-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: lts/*
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build (stub)
        run: pnpm dev:prepare

      - name: Lint (docs)
        run: pnpm lint:docs

      - name: Build Nuxt
        run: pnpm build

      - name: Typecheck (docs)
        run: pnpm typecheck:docs
