name: docs

on:
  merge_group:
  push:
    paths:
      - "docs/**"
      - ".github/workflows/docs.yml"
      - "*.md"
  pull_request:
    paths:
      - "docs/**"
    # autofix workflow will be triggered instead for PRs
    branches:
      - main
      - 3.x
      - "!v[0-9]*"

# Remove default permissions of GITHUB_TOKEN for security
# https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
permissions: {}

jobs:
  lint-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: lts/*
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build (stub)
        run: pnpm dev:prepare

      - name: Lint (docs)
        run: pnpm lint:docs

      - name: Build Nuxt
        run: pnpm build

      - name: Typecheck (docs)
        run: pnpm typecheck:docs
