name: docs

on:
  push:
    branches:
      - main
      - 3.x
      - "!v[0-9]*"
    paths:
      - "docs/**"
      - ".github/workflows/docs.yml"
      - "*.md"

# Remove default permissions of GITHUB_TOKEN for security
# https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
permissions: {}

jobs:
  lint-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build (stub)
        run: pnpm dev:prepare

      - name: Lint (docs)
        run: pnpm lint:docs

      - name: Build Nuxt
        run: pnpm build

      - name: Typecheck (docs)
        run: pnpm typecheck:docs
