name: CI

on:
  push:
    paths:
      - ".github/workflows/**"
    branches:
      - main
  pull_request:
    paths:
      - ".github/workflows/**"
    branches:
      - main
      - "!v[0-9]*"

permissions:
  contents: read

jobs:
  lint-workflows:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      # From https://github.com/rhysd/actionlint/blob/main/docs/usage.md#use-actionlint-on-github-actions
      - name: Check workflow files
        run: |
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/590d3bd9dde0c91f7a66071d40eb84716526e5a6/scripts/download-actionlint.bash) 1.6.25
          ./actionlint -color -shellcheck=""
