name: ci

on:
  merge_group:
  push:
    paths:
      - "**/package.json"
      - "pnpm-lock.yaml"
    branches:
      - main
      - 3.x
  pull_request:
    paths:
      - "**/package.json"
      - "pnpm-lock.yaml"
    branches:
      - main
      - 3.x
      - "!v[0-9]*"

permissions:
  contents: read

jobs:
  lint-monorepo:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Lint monorepo
        run: pnpm sherif -r multiple-dependency-versions

      - name: Check engine ranges, peer dependency ranges and installed versions
        run: pnpm installed-check --no-include-workspace-root --ignore-dev --workspace-ignore='test/**,playground'
