name: notify-nuxt-website
on:
  workflow_dispatch:
  push:
    branches:
      - 3.x
      - main
    paths:
      - "docs/**"

permissions: {}

jobs:
  notify:
    runs-on: ubuntu-slim
    steps:
      - name: trigger nuxt website deployment
        run: curl "${{ secrets.NUXT_WEBSITE_WEBHOOK_URL }}"
