name: chore
on:
  issues:
    types:
      opened

permissions:
  issues: write

jobs:
  stackblitz:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: huang-julien/reproduire-sur-stackblitz@edd77eee0ffdae795c9dfd4e5b3b745740672439 # v1.0.3
        with:
          reproduction-heading: '### Reproduction'
