name: chore
on:
  issues:
    types:
      opened

permissions:
  issues: write

jobs:
  stackblitz:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: huang-julien/reproduire-sur-stackblitz@edd77eee0ffdae795c9dfd4e5b3b745740672439 # v1.0.3
        with:
          reproduction-heading: '### Reproduction'
